h1,
h4,
h5 {
  text-align: center;
}

.cards_m {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
}

.card_m {
  padding: 1rem;
  width: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem rgba(14, 13, 13, 0.425);
}

.card_m > ul {
  list-style: none;
}

.completed {
  color: rgb(17, 95, 10);
  text-decoration: line-through;
}

.pending {
  color: rgb(219, 125, 17);
}

@media screen and (max-width: 500px) {
  .cards_m {
    flex-direction: column;
    align-items: center;
  }
}
