<main class="mt-3">
  <section class="header container">
    <h1>Hello World</h1>

    <h4>
      My First Angular Application with all the concepts that i've learned
      untill now
    </h4>
  </section>

  <section class="container content mt-4">
    <hr />

    <h5>Concepts that i've covered untill are the below</h5>

    <section class="cards_m m-3">
      <div class="card_m">
        <h4>Basic Concepts</h4>
        <hr />
        <ul>
          <li
            *ngFor="let concept of basicConcepts"
            [ngClass]="{ completed: concept.value, pending: !concept.value }"
          >
            <input type="checkbox" [checked]="concept.value" />
            {{ concept.name }}
          </li>
        </ul>
      </div>
      <div class="card_m inter_m">
        <h4>InterMediate Concepts</h4>
        <hr />

        <ul>
          <li
            *ngFor="let concept of interMediateConcepts"
            [ngClass]="{ completed: concept.value, pending: !concept.value }"
          >
            <input #check__Box type="checkbox" [checked]="concept.value" />
            {{ concept.name }}
          </li>
        </ul>
      </div>
      <div class="card_m">
        <h4>Advanced Concepts</h4>
        <hr />

        <ul>
          <li
            *ngFor="let concept of advancedConcepts"
            [ngClass]="{ completed: concept.value, pending: !concept.value }"
          >
            <input type="checkbox" [checked]="concept.value" />
            {{ concept.name }}
          </li>
        </ul>
      </div>
    </section>
  </section>
</main>
